{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Pages and Pastries{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url "shop:product_list" %}">Pages and Pastries</a>
    <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'shop:search' %}">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
               name="searched">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li style="padding-right: 10px" class="nav-item active">
                <a class="nav-link" href="{% url "shop:product_list" %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link">|</a>
            </li>
            <li style="padding: 0 10px 0 10px" class="nav-item">
                <a class="nav-link disabled" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">|</a>
            </li>
            <li style="padding: 0 10px 0 10px" class="nav-item">
                <a class="nav-link disabled" href="#">Help</a>
            </li>
            <li style="padding: 0 10px 0 10px" class="nav-item dropdown">
                <button class="btn btn-secondary" href=" {% url 'cart:cart_detail' %}" type="button"
                        aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-cart-shopping"></i>
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            Your cart:
                            <a style="color: white" href="{% url "cart:cart_detail" %}">
                                {{ total_items }} item{{ total_items|pluralize }},
                                ${{ cart.get_total_price }}
                            </a>
                        {% else %}
                            Your cart is empty.
                        {% endif %}
                    {% endwith %}
                </button>
            </li>
            {% if user.is_authenticated %}
                  <form action="{% url 'logout' %}" method="post">
                 {% csrf_token %}
                 <button type="submit">Log out</button>
                    </form>
            {% else %}
                <li class="nav-item dropdown">
                <button class="btn btn-secondary" href="#" id="navbarDropdown" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i>
                </button>

                <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{% url "login" %}">Log in</a>
                <a class="dropdown-item" href="{% url "register" %}">Register</a>
            {% endif %}

            </div>
            </li>
        </ul>

    </div>
</nav>

<div id="content">
    {% block content %}
    {% endblock %}
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
-->
</body>
</html>